*{
  font-family: 'Balsamiq Sans', cursive;
  }
  
    /* Change the background color of navbar on hover */
  
  html{
    scroll-behavior: smooth;
  }
  body{
    margin: 0;
    padding: 0;

  }
  #mood{
    color:#E8772E;
    height: 100vh;
    background-color:#ECAB55;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  #name{
    color:#E8772E;
    height: 100vh;
    background-color:#ECAB55;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  #budget{
    color:#E8772E;
    height: 100vh;
    background-color:#ECAB55;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  #aesthetics{
    color:#E8772E;
    height: 100vh;
    background-color:#ECAB55;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  #foodtype{
    color:#E8772E;
    height: 100vh;
    background-color:#ECAB55;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  #diet{
    color:#E8772E;
    height: 100vh;
    background-color:#ECAB55;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  #home{
    color:#E8772E;
    height: 100vh;
    background-color:#ECAB55;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  
  }

  #submit{
    color:#E8772E;
    height: 100vh;
    background-color:#ECAB55;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  #result{
    color:#E8772E;
    height: 100vh;
    background-color:#ECAB55;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  .hidden{
    display: none;
  }
  /* Hide the radio buttons */
.mood-option input[type="radio"] {
  display: none;
}

/* Style the label as clickable */
.mood-option {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin: 10px;
}

/* Add styles for when labels are clicked */
.mood-option:hover {
  background-color: #0F0F0F; 
}
.mood-option img:hover{
  transform: scale(1.1); /* Scale the image to 110% of its original size */
  transition: transform 0.5s ease;
}
/* Style the images */
.mood-option img {
  width: 100px; /* Adjust the image width as needed */
  height: 100px; /* Adjust the image height as needed */
  border: 2px solid transparent; /* Add a border to the images */
}

/* Style the selected label */
.mood-option input[type="radio"]:checked + img {
  border-color: #007bff; /* Change the border color for the selected image */
}
