*{
    font-family: 'Raleway', sans-serif;
  }
  
    /* Change the background color of navbar on hover */
  
  html{
    scroll-behavior: smooth;
  }
  body{
    margin: 0;
    padding: 0;
  }
  #mood{
    height: 100vh;
    background-color:#9696dd;
    display: inline-block;
    width: 100%;
  }
  #name{
    height: 100vh;
    background-color:#9696dd;
    display: inline-block;
    width: 100%;
  }
  #budget{
    height: 100vh;
    background-color:#a2f89b;
    display: inline-block;
    width: 100%;
  }
  #aesthetics{
    height: 100vh;
    background-color:#eb8398;
    display: inline-block;
    width: 100%;
  }
  #foodtype{
    height: 100vh;
    background-color:#f2ed5f;
    display: inline-block;
    width: 100%;
  }
  #diet{
    height: 100vh;
    background-color:#ff64c6;
    display: inline-block;
    width: 100%;
  }
  #home{
    height: 100vh;
    background-color:#ff64c6;
    display: inline-block;
    width: 100%;
  }
  #submit{
    height: 100vh;
    background-color:#36c9ff;
    display: inline-block;
    width: 100%;
  }
  #result{
    height: 100vh;
    background-color:#f97474;
    display: inline-block;
    width: 100%;
  }
  .hidden{
    display: none;
  }
  /* Hide the radio buttons */
.mood-option input[type="radio"] {
  display: none;
}

/* Style the label as clickable */
.mood-option {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin: 10px;
}

/* Add styles for when labels are clicked */
.mood-option:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
}

/* Style the images */
.mood-option img {
  width: 100px; /* Adjust the image width as needed */
  height: 100px; /* Adjust the image height as needed */
  border: 2px solid transparent; /* Add a border to the images */
}

/* Style the selected label */
.mood-option input[type="radio"]:checked + img {
  border-color: #007bff; /* Change the border color for the selected image */
}
